openapi: 3.1.0
info:
  title: MOSAIC GraphRAG Public API
  description: |
    Public REST API for MOSAIC: retrieval-augmented question answering over
    pre-built knowledge graphs (GraphRAG-Bench medical / novel corpora).

    All `/api/mosaic/*` routes require the session cookie issued by
    `/api/mosaic/login`. Responses use the envelope
    `{"code": 0, "message": "ok", "payload": {...}}`; a non-zero `code`
    indicates an application error:

    | code  | meaning |
    |-------|---------|
    | 40101 | bad credentials (login) |
    | 40401 | unknown `database` |
    | 50001 | answer generation failed (retry later) |

    Interactive docs (Swagger UI) are served at `/docs`.
  version: 0.2.0
servers:
  - url: https://app-d40d64a2.proxy1.ainexus.ktcloud.com
    description: Public endpoint
paths:
  /api/version:
    get:
      summary: Service version / health check (no auth)
      operationId: version
      responses:
        '200':
          description: Service version
          content:
            application/json:
              schema:
                type: object
                properties:
                  version: {type: string, example: 0.1.0}
                  databases:
                    type: object
                    description: Load state per knowledge base (`loading`, `ready`, `error`)
                    additionalProperties: {type: string}
                    example: {medical: ready, novel: ready}
  /api/mosaic/login:
    post:
      summary: Issue the API session cookie
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: >-
            On success `code` is 0 and a session cookie is set via
            `Set-Cookie`. Bad credentials return a non-zero `code`.
          headers:
            Set-Cookie:
              schema: {type: string}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      payload:
                        type: object
                        properties:
                          username: {type: string}
                          expires_at: {type: string, format: date-time}
  /api/mosaic/answer:
    post:
      summary: Graph retrieval + evidence-grounded answer generation
      operationId: answer
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerRequest'
      responses:
        '200':
          description: Answer with retrieved evidence
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      payload:
                        $ref: '#/components/schemas/AnswerPayload'
        '401':
          description: Missing or expired session cookie (client re-logs in once)
        '422':
          description: Request validation error
        '429':
          description: Too many requests in flight (client retries with backoff)
        '503':
          description: Knowledge base still loading or unavailable (client retries with backoff)
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: mosaic_session
  schemas:
    Envelope:
      type: object
      required: [code]
      properties:
        code: {type: integer, description: '0 on success'}
        message: {type: string}
        payload: {type: object}
    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username: {type: string}
        password: {type: string}
    AnswerRequest:
      type: object
      required: [database, question]
      properties:
        database:
          type: string
          description: Knowledge base to query (`medical`, `novel`)
        question:
          type: string
        domain:
          type: string
          enum: [medical, novel, generic]
          default: medical
        question_type:
          type: string
          enum: [Fact Retrieval, Complex Reasoning, Contextual Summarize, Creative Generation]
          default: Fact Retrieval
        query_id:
          type: [string, 'null']
          description: Optional caller-side id, echoed back in `answering.query_id`
    RetrievedDocument:
      type: object
      required: [uid, rank, score, content]
      properties:
        uid:
          type: string
          description: >-
            Passage id `<chunk_id>:<char_offset>` — a window of the source-corpus
            chunk `chunk_id` starting at character `char_offset`
        rank: {type: integer, description: 1-based rank}
        score: {type: number, description: Reranker cosine similarity to the question}
        content: {type: string, description: Passage text exactly as shown to the answer model}
    AnswerPayload:
      type: object
      description: >-
        Always produced with the benchmark-submission configuration: retrieval
        breadth/depth chosen per question by the query analyzer, answer grounded
        on 15 source passages reranked from the graph evidence.
      required: [answer, retrieval]
      properties:
        answer: {type: string}
        retrieval:
          type: object
          required: [documents]
          properties:
            backend: {type: string, example: mosaic}
            documents:
              type: array
              items:
                $ref: '#/components/schemas/RetrievedDocument'
        answering:
          type: object
          properties:
            domain: {type: string}
            question_type: {type: string}
            query_id: {type: [string, 'null']}
            model: {type: string, description: LLM used for generation}
